## TEORIA DE PYTHON

* Funciones y metodos para los distintos tipos de variables
* Estructuras WHILE, FOR
* Funciones definidas
* Estructuras de datos

### Operaciones aritmeticas

In [ ]:
a = 2
b = 2

In [ ]:
# Suma
a + b

In [ ]:
# Resta
a - b

In [ ]:
# Multiplicación
a * b

In [ ]:
# Potenciación
a ** b

In [ ]:
# División decimal
a/b

In [ ]:
# División entera
4//2

In [ ]:
# Resto de la divisón entera
a%b

In [ ]:
# Criterio de operación matemática
(3+2*9)/2

In [ ]:
# Cálculos simultaneos
3+7, 4-3, 8**99, 100/2

In [ ]:
# Asignación simultanea durante la ejecución

z, y, w, x = 3+7, 4-3, 8**99, 100/2

In [ ]:
z

In [ ]:
z, y, w, x

In [ ]:
# numeroscomplejos -> importar la libreria math (permite ampliar las funcionalidades matematicas de numeros reales)
import math

In [ ]:
math.sqrt(9) # devuelve un float

In [ ]:
9**0.5 # otra forma de hacer la raiz cuadrada sin la libreria o sea sin sqrt

In [ ]:
27**0.333333 # esto seria como raiz cubica que no se como se hace con la libreria math, tal vez haya una funcion

In [ ]:
math.pi

In [ ]:
math.tan(45)

In [ ]:
math.sin(30*math.pi/180)

In [ ]:
math.cos(30)

In [ ]:
math.ceil(3.0000000000001) # redondea al entero superior

In [ ]:
math.floor(3.7) # redondea al entero inferior

In [ ]:
import cmath # importar la libreria de numeros complejos

In [ ]:
cmath.sqrt(-1)

#### COHERCION 

Es la transformación o cambio del tipo de dato almacenado en una variable

In [ ]:
a = 7.5

In [ ]:
str(a) # coherción a cadenas de texto

In [ ]:
int('7') # cohercion de str a int

In [ ]:
float('7.1') # cohercion de str a float

In [ ]:
a = 3.999
print(type(a))

In [ ]:
a = int(a) # coherción de float a  entero

In [ ]:
print(type(int(a)))

In [ ]:
a

In [ ]:
float(1) # cohercion de int a float  # El float siempre se ve con el punto decimal .

In [ ]:
float(a) # conversion de str a float

In [ ]:
complex(9,-3) # cohercion a numeros imaginarios (parte real,parte imaginaria)

In [ ]:
complex('7.5')

 EJERCICIO:

 Demostrar la siguiente formula

DIVIDENDO = DIVISOR * COECIENTE + RESTO 

Ejemplo: 86 /73.5

In [ ]:
dividendo = 86
divisor = 73.5

In [ ]:
cociente = dividendo / divisor

In [ ]:
resto = dividendo // divisor

In [ ]:
resto

In [ ]:
(divisor * cociente) + resto

In [ ]:
cociente

#### TIPACION DE DATOS

In [ ]:
type('x'),type(10), type(8.9)

In [71]:
type(100/2)

float

#### CADENA DE CARACTERES (String)

In [ ]:
"esto es un caracter"

In [ ]:
'esto es otro string'

In [ ]:
"hola mundo 'jose' "

In [ ]:
'Hola "maria" que tal estas'

In [ ]:
# uso de una sola comilla
"Hola ' adios"

La \ permite escapar de caracteres especiales reservados en python como es el salto de carro que lo consequimos con \n

In [ ]:
print("Hola \nnaturaleza")

In [ ]:
print("Hola \\naturaleza") # ya no hace el salto de linea porque tiene la barra delante

####  BOOLEANOS 

* Cualquier valor <> 0 es True 
* Solo el 0 es False

En informatica:   booleano = True , False <br>
En matematicas e ingenieria:  booleano 1 (True) 0 (False) <br>
En electronica: bool 1 (True / hay corriente)  0 (False / no. hay corriente)

In [ ]:
bool(0)

In [ ]:
bool(1)

In [ ]:
bool(199)

In [ ]:
bool('a')

In [ ]:
bool(1.22)

In [ ]:
True

In [ ]:
False

In [ ]:
print(bool(1.1) , bool(0.5) , bool(-0.5)) 
# no existe cohercion posible de str/float/int a bool  => siempre sale True si hay valor <> 0

In [ ]:
print(bool(0))

#### Operaciones booleanas (relacionales) Logica proposicional

In [ ]:
# and operador exclusivo, solo sale true si las dos condiciones se cumplen

In [ ]:
True and True

In [ ]:
False and False

In [ ]:
True and False

In [ ]:
False and True

In [ ]:
### or Es True si alguno es True. Solo False si todos falsos.

In [ ]:
True or True

In [ ]:
False or False

In [ ]:
True or False

In [ ]:
False or True

In [ ]:
### not / !=

In [ ]:
not(False)

In [ ]:
not False == True

In [ ]:
not(True)

In [ ]:
# != True

In [ ]:
### == Comparador

In [ ]:
4 == 4

In [ ]:
4==4.0

In [ ]:
###. >  <    (extrictors)

In [ ]:
### >=   <=. (blandos)

#### Operadores con caracteres

In [ ]:
a = """Jamón ipsum Real Madrid 

vaya chollazo a cogió prestado honor. Aquí no hay tomate el por la cara y roña madrileña collección de mariposita estopa señor vecinos cien gaviotas, tus tronco ligar maruja mi flamenco pero macho tía la quillo friqui brutal. Con siesta salmorejo nuestra comunidad por la cara. Fútbol mucho de tiburón de la noche enróllate cogió prestado las dominguera horchata."""

In [ ]:
print(a)

In [ ]:
print("hola " *3) # operaciones de repeticion de str

In [ ]:
print("hola"+" mundo") # operaciones de concatenacion

In [ ]:
print("hola " + str(7)) # no se puede concatenar typos que no sean str

In [ ]:
print("hola",7,True) # concatenacion con el operador print (no es un operador de caracteres)

In [ ]:
len('Hola mundo')

In [ ]:
c='Hola'

### while y for

In [ ]:
# Recorrer una cadena
x=0
while x<len(c):
    print(c[x])
    x+=1

In [ ]:
for i in range(0,len(c)): # El ultimo valor queda fuera
    print(c[i])

In [ ]:
for i in c: 
    print(i)

In [ ]:
# Ejercicio
nombre=input('Cual es tu nombre? ')
Salida= 'Hola '+nombre+'!'
print(Salida)

edad=input('Cuantos años tienes? ') # El input devuelve str
Salida='En tu proximo cumpleaños cumplirás '+str(int(edad)+1) # Convierto la edad a entero para poder sumar y luego otra vez a string 
print(Salida)

#### FUNCIONES

##### Ejercicio

Crear una funcion que reciba un parametro y devuelva su tipologia

In [ ]:
def tipo_dato (var):
    return type(var)

In [ ]:
type('abc')

In [ ]:
t=type('abc')
t

In [ ]:
print(f"La variable introducida es del tipo {tipo_dato('abc')}")

In [9]:
# EJEMPLO:
def saludar():
    return 'Hola' # La funcion devuelve un str

f1=saludar() # aqui hay una llamada a la funcion (se invoca con los ())

In [10]:
print(f1)

Hola

In [11]:
type(f1) # esta variable recibio, en la asignacion, el return de la funcion que es un str

str

In [ ]:
# f1 (abajo) no se puede instanciar puesto que solo es una variable que recibio el return de la funcion saludar()

In [13]:
f1()

TypeError: 'str' object is not callable

In [16]:
f2=saludar # aqui se hace una copia de la funcion que se podra invocar con su otro nombre f2()

In [18]:
type(f2), type(saludar)

(function, function)

In [19]:
f2() # invocacion de la funcion f2 que es copia de saludar

'Hola'

##### Ejercicio: 
Escribir un algoritmo que sera utilizado por otro codigo como una herramienta que transforme los grados sexagecimales a radianes

In [ ]:
def conversorSexaRad(n):
    import math
    x=n*math.pi/180
    return x

In [ ]:
sexa=180

In [ ]:
print(f"{sexa} grados sexagecimales corresponden a {conversorSexaRad(sexa)} radianes")

#### Metodos para caracteres

* Métodos de transformación:
    - .lower() pasa a minuscula
    - .upper() pasa a mayuscula
    - .capitalize() primera letra a mayuscula
    - .title() primera letra de cada palabra a mayuscula (apitalize de cada palabra)
    - .swapcase() cambia mayusculas a minusculas y viceversa
    - .strip() quita espacios en blanco al comienzo y al final
    - .lstrp() quita espacios a izquierda (comienzo)
    - .rstrip() quita espacios a derecha (final)
    
* Métodos de condicion (devuelven un booleano):
    - .islower() verdadero si todo minusculas.
    - .isupper() verdadero si todo mayusculas.
    - .istitle() verdadero si cada palabra comienza en mayuscula y resto minuscula
    - .startswith('letra/cadena') condicion: indica si la cadena comienza con la letra/cadena indicada como argumento

In [2]:
c,d='hola','HOLA mundo'

In [3]:
print(c,c.upper())

hola HOLA

In [4]:
print(c,c.lower())

hola hola

In [5]:
c.islower()

True

In [6]:
e='Hola'

In [7]:
e.islower()

False

In [8]:
e.isupper()

False

In [11]:
print(d,d.capitalize()) # solo primera palabra

HOLA mundo Hola mundo

In [ ]:
#  no hay iscapitalize()

In [13]:
print(d,d.title()) # todas las palabras

HOLA mundo Hola Mundo

In [34]:
d.istitle()

False

In [37]:
g='Hola Mundo'
g.istitle()

True

In [39]:
g='Hola MUNDO'
g.istitle()

False

In [44]:
g.swapcase() # intercambia mayusculas/minusculas

'hOLA mundo'

In [14]:
f='  cadena con espacios   '

In [28]:
print('.'+f.strip()+'.') # quita los espacios a izq y der

.cadena con espacios.

In [29]:
print('.'+f.lstrip()+'.') # quita los espacios del comienzo

.cadena con espacios   .

In [30]:
print('.'+f.rstrip()+'.') # quita los espacios del final

.  cadena con espacios.

In [35]:
print(c,c.startswith('H')) # no comienza con el caracter

hola False

In [36]:
print(c,c.startswith('h')) # comienza con el caracter

hola True

In [43]:
print(c,c.startswith('hola')) # comienza con la cadena

hola True

*  METODO DE UNION NORMADO

    caracter.join([cadena1,cadena2])  Es un metodo de string/caracter y el parametro es una lista

In [ ]:
# Metodo de union normado para concatenar cadenas y caracteres

g='Carolina'
h='Cordo'
'_'.join([g,h])

In [ ]:
i,j,k,l='Hola','que','tal','?'
' '.join([i,j,k,l])

*  METODO DE TROCEO DE STRINGS

In [ ]:
i='Hola que tal te encuentras?'

In [ ]:
i.split()  # intros /n, puntos ., comas ,, espacios 
# como no indico parametro lo separa en los espacios

In [ ]:
i='navidad, año nuevo, reyes'

In [ ]:
i.split(',') # separa en la coma. El resultado es una lista con las sub cadenas que ha obtenido

* METODO DE SUSTITUCION 

Metodo replace que reemplaza un caracter o caracteres con otro/s

In [ ]:
j='Hol-a'

In [ ]:
print(j.replace('-',''))

In [ ]:
j='Hol--a'

In [ ]:
print(j.replace('-',''))

In [ ]:
j='Hol-*a'

In [ ]:
print(j.replace('-*',''))

In [ ]:
j='Hol-*a'

In [ ]:
print(j.replace('-*','--'))

* METODO PARA QUITAR BLANCOS U OTROS CARACTERES A IZQUIERDA Y/O DERECHA

In [ ]:
l='   Hola       '

In [ ]:
print('.'+l.lstrip(' ')+'.') # quita el caracer a izquierda

In [ ]:
print('.'+l.rstrip(' ')+'.') # quita el caracter a derecha

In [ ]:
print('.'+l.strip(' ')+'.') # quita el caracter a izquierda y a derecha

In [ ]:
l='_.Hola_.'
print(l.strip('_.')) # se puede eliminar mas de un caracter inicial

In [ ]:
l='_.Hola._'
print(l.strip('_.')) # notar que elimina por simetricos tambien!!!

* JUSTIFICADO DE CADENAS

Centrado

In [ ]:
# Rellenado de cadenas a izquierda y derecha

"Primera prueba".center(20,"*")  # longitud total de la cadena resultante 20, ubicacion de la cadena=centrada, relleno *

Ejercicio: 

Centrar el string y colocar 20 asteriscos a izquierda y otros 20 a derecha

In [ ]:
"Primera Prueba".center(40+len("Primera Prueba"),'*')

In [ ]:
## Parametrizo el ejercicio 

l='Primera prueba' # cadena a centrar
n=20 # cantidad de caracteres de cada lado

l.center(len(l)+2*n,'*')

In [ ]:
len("Primera Prueba")

In [ ]:
len("Primera Prueba".center(40+len("Primera Prueba"),'*'))

In [ ]:
20+len("Primera Prueba")+20==len("Primera Prueba".center(40+len("Primera Prueba"),'*'))

Justificado a izquierda

In [ ]:
l.ljust(20,'*')

In [ ]:
l.ljust(5,'*') # omite si la cadena no cabe en la longitud especificada

Justificado a derecha

In [ ]:
l.rjust(20,'*')

In [ ]:
l.rjust(5,'*') # omite si la cadena no cabe en la longitud especificada

* CARACTER DE ESCAPE PARA CARACTERES ESPECIALES (\ " ' \n %) O PALABRAS RESERVADAS 

El caracter de escape es \

La contrabarra \ es un caracter de escape, y por tanto es un caracter especial. Para omitirla tengo que salvarlo con doble antibarra \\

Otros caracteres especiales son: " ' /

In [ ]:
print("c:\\user\\desktop") # salvo la antibarra con otra antibarra

In [ ]:
print("Le dijo: \"Hola\"" ) # salvo la comilla que quiero considerar como un caracter mas colocando la antibarra delante

In [ ]:
print("Quiero escribir comillas \" " )

In [ ]:
print("Quiero escribir comilla \' " )

In [ ]:
print("Quiero escribir barras \/ " )

In [ ]:
print("Quiero escribir antibarra \ ")

In [ ]:
print("Quiero escribir antibarra \\ ")

SUSTITUCION DE VARIABLES / VARIABLES DINAMICAS
%s

Para variables de caracter %s (para string)

Para variables enteras %d (para int)

Para variables no enteras %.2f (para float esto es con dos decimales)

In [ ]:
Nm='Elian'
Ap='Latorre'
Ed=10
j=5.5
d=5

respuesta='Hola %s %s, tienes %d años, estudias %d dias a la semana y tu jornada es de %.2f horas'%(Nm,Ap,Ed,d,j)
respuesta

###  Manejo de errores en la comprobacion de un numero

* try: actua como un while 
* try + assert: el assert actua como un if dentro del try

In [ ]:

try:
    x=float(x)
except:
    print("error")
    x=float(input("x: "))

### Más sobre bucle for
Sirve para recorrer str, listas, diccionarios, tuplas, arrays, matrices

In [ ]:
for k in range(3):  # El ultimo valor siempre se omite
    print(k)

In [ ]:
a="HOLA"
for k in a:
    print(k)

In [ ]:
for k in range(10,15):   # El ultimo valor siempre se omite
    print(k)

In [ ]:
x="Hola"
print('Longitud de la cadena',len(x),'\n')
for k in range(len(x)): # de 0 a 3
    print(x[k])

### Estructuras contenedoras de datos

#### LISTAS

* son secuencias mutables (cambian durante la ejecucion ampliandose o reduciendose)
* heterogeneas (pueden contener distintos tipos de variables y objetos dentro de la misma lista)
* Admite valores repetidos.
* secuencias finitas (permiten localizar eventos por indices) 
    - lista[posicion] recupera el elemento de la posicion indicada  
    - lista[posicion:] recupera los elementos desde la posicion indicada hasta el final
    - lista[:posicion] recupera los elementos desde el primer elemento hasta la posicion indicada-1
    - lista[posicion:posicion] recupera los elementos desde la posicion indicada y hasta la posicion indicada-1
* definicion mediante corchetes
* pueden existir listas vacias (lista="" o lista=list() que crea una lista vacia o con solo un objeto lista=list('a')
* lista.append('nuevo elemento') Se inserta por la derecha el nuevo elemento
* lista.extend(lista_a_añadir) Extiende por la derecha agregando los elementos de la lista introducida como parametro
* lista.index(dato_a_buscar) Localiza datos. Retorna el indice del elemento si esta en la lista (1ra ocurrencia si esta mas de una vez).
* lista.remove(elemento_a_eliminar) Elimina por 'VALOR' la primera ocurrencia del elemento encontrado. Solo el primero. Si no esta da ERROR.
* lista.pop() Elimina el ultimo valor añadido. El del final de la lista.
* lista.pop(2) Elimina por INDICE. Da error por fuera de rango.
* lista.reverse() Invierte la lista en la misma lista
* lista.insert(posicion,elemento) Inserta el elemento en la posicion indicada, moviendo el resto de elementos hacia la derecha.
* lista.sort() Ordena los valores de una lista
* lista.clear() vaciar la lista. Quita todos sus elementos. La deja vacia.

Hay dos maneras de definir los elementos de una lista:

* Por EXTENSION (intensionales). Cada elemento se enumera de manera explicita.
* Por COMPRESION. No se mencionan los elementos uno a uno sino que se indica mediante una propiedad que cumplen todos los elementos.

In [ ]:
listaA=[1,2,4,8,16,32,64,128,256,512] # Lista por extension de las 10 primeras potencias de 2

In [ ]:
listaB=[2**i for i in range(10)] # misma lista por compresion

In [ ]:
listaA

In [ ]:
listaB

In [ ]:
listaA==listaB

In [ ]:
# Ejemplo
d=["hola",3,3.015, True,["Hola"]," "] # la lista admite cualquier tipo de objeto

In [ ]:
type(d[0]),type(d[1]), type(d[2]), type(d[3]), type(d[4]), type(d[5])

In [ ]:
type(d)

In [ ]:
d

In [ ]:
len(d)

In [ ]:
type(d[0]), d[0], len(d[0]) # metodos aplicados a un valor de la lista

In [ ]:
for k in range(len(d)):
    print(type(d[k]), len(str(d[k])), d[k]) 
# observar las salidas:
 # len no se puede aplicar a int. 
 # str de la lista de la posicion 4, convirtio en cadena el contenido y los corchetes de la lista
 # el ultimo elemento es un espacio

In [ ]:
# Metodo append agrega elementos a la lista de uno en uno y por la cola
d.append('chau')
d.append('4')

In [ ]:
d

In [ ]:
# Sustitucion de elementos. Se hace posicionalmente utilizando el indice
d[2]='K'

In [ ]:
d

In [ ]:
f=list() # se crea una lista vacia o con un elemento. Luego se pueden añadir mas elementos con append()
g=[] # otra forma de crear una lista vacia

In [ ]:
h=list('A') # lista creada con su primer elemento
h

In [ ]:
l=list('A','B') # no admite mas de un argumento. Solo uno o ninguno

In [ ]:
type(f),type(g)

In [ ]:
f.append('1') # ejecute dos veces

In [ ]:
f

In [ ]:
f.extend(d) # concatena la cadena f con la d agregando los elementos de d al final de f

In [ ]:
f

In [ ]:
f.index('K') # Obtiene el indice del elemento pasado como parametro. En este caso la posicion de K es 4

In [ ]:
f.reverse() # invierte la lista en si misma
f

In [ ]:
f.pop() # Elimina el ultimo elemento de la lista
f

In [ ]:
f.insert(0,'!!!') # Inserta en la posicion indicada el elemento indicado moviendo el contenido de la lista a la derecha
f

In [ ]:
# Lista con elementos enteros. Array
numerica=[0,1,3,4,7,5,6]
numerica

In [ ]:
numerica.sort() # ordena de menor a mayor por defecto 
# numerica.sort(reverse = False) si no se indica el reverse es False por defecto
numerica

In [ ]:
numerica.append(-2)
numerica

In [ ]:
numerica.sort(reverse = True) # ordena de mayor a menor
numerica

In [ ]:
# lista alfabetica
alfa=['a','c','b','z','A','C','B','Z']
alfa

In [ ]:
alfa.append('a')

In [ ]:
alfa ## Admite repetidos

In [ ]:
'z' in alfa # para saber si esta el elemento en la lista. Devuelve un booleano

##### Metodo .sort() para ordenar listas

In [ ]:
alfa.sort() # orden alfabetico. Las MAYUSCULAS tienen mas peso que las minusculas
alfa

In [ ]:
alfa=[1,10,'10','Z','a', True, False]
alfa

In [ ]:
alfa.sort(reverse=True) # orden descendente

In [ ]:
# quito los booleanos porque no los puede ordenar
alfa.pop() # ejecuto dos veces

In [ ]:
alfa

In [ ]:
alfa.sort(reverse=True) # orden descendente  PARECE SER QUE TIENEN QUE SER ELEMENTOS STRING TODOS SINO NO ORDENA

In [ ]:
alfa.remove(1)
alfa.remove(10)

In [ ]:
alfa

In [ ]:
alfa.sort(reverse=True)

In [ ]:
alfa # los numeros (en formato string) van primero, luego mayusculas y por ultimo minusculas en orden alfabetico obvio

In [ ]:
## Cuando hay mayusculas, tienen prioridad ante las minusculas

In [ ]:
lista=['A','B','C','D','E','F']
lista[0]

In [ ]:
lista[:3] # desde el 0 hasta el 2

In [ ]:
lista[3:] # desde el 3 hasta el final

In [ ]:
lista[1:3] # desde el 1 hasta el 2. Recordar que el primero seria posicion 0. La posicion 1 corresponde al segundo elemento

In [ ]:
lista.clear() # limpia/elimina todos los elementos de la lista

In [ ]:
lista # lista vacia

##### Funcion sorted(lista) para ordenar listas

* como FUNCION sorted(q), sorted(q, key= , reverse= ) ordena la lista pero NO la MODIFICA sino que devuelve la lista ordenada. Admite como entrada listas y otros objetos iterables es decir otros objetos de coleccion de datos como diccionarios.
* como METODO q.sort(), q.sort(key= , reverse= ) MODIFICA la lista in situ. Es mas eficiente que la funcion. Es un metodo de la clase lista, no opera con otro tipo de objetos. 

Aceptan una serie de parametrizaciones 
* reverse True/False (mayor a menor/menor a mayor)
* key(len, str.lower, index y otras funciones) Orden por longitud de los objetos, por indice ?¿ YA ESTA ORDENADO POR INDICE O NO y otras funciones inluyendo funciones desarrolladas y lambda. Cualquier función que se indique en el parámetro key debe tomar un único argumento y devolver una clave, que será el valor que se tenga en cuenta para realizar la comparación. Es util en objetos complejos como tuplas de listas por ejemplo.

In [ ]:
q=["perro","gato","leon","tortuga"]

In [ ]:
q.sort()

In [ ]:
sorted(q, reverse=False) # es una nueva lista o se puede asignar a una nueva lista pero NO modifica la lista original
# orden alfabetico

In [ ]:
q # la lista sigue siendo la original

In [ ]:
q.sort(reverse=True)  # en este caso es el metodo sort que SI MODIFICA la lista

In [ ]:
q

In [ ]:
sorted(q, key=len, reverse=False)

In [ ]:
q.sort(reverse=True, key=len)

In [ ]:
q

In [ ]:
# Otro ejemplo de sorted()
sorted("This is a test string from Andrew".split(), key=str.lower) 
# primer argumento no es una lista sino una cadena a la que le aplico el metodo split que me devuelve una lista

#### La funcion Join 

Sirve para intercalar caracteres o cadenas entre objetos de una lista y devolver la cadena resultante

In [ ]:
# funcion join   ejemlpos con lista y con string
k,g=["1","3","6"], 'hola'   # ejemplo hacer el inverso del split

In [ ]:
k,g

In [ ]:
g.join(k)

#### Ejercicio Listas

In [ ]:
lista=list(range(10,101,10))

[10,20,30,40,50,60,70,80,90,100]    ok
a) [10,20,30,40,50,60,70,80,90,100]  ok
b) [40,50,60] ok 
c) [10,20,30,40,50,60] ok
d) [70,80,90,100] ok
e) [100,90,80,70,60,50,40,30,20,10] ok 
f) [100,90,80,70,60,50,40,30,20,10]  
g) error
h) [10,20,30,40,50,60,70,80,90,100]
i) error
j) [100,80,60,40,20]

In [42]:
lista=list(range(10,101,10))

In [43]:
lista

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [96]:
print(lista)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [97]:
lista[3:6]

[40, 50, 60]

In [99]:
lista[:6]

[10, 20, 30, 40, 50, 60]

In [100]:
lista[6:]

[70, 80, 90, 100]

In [102]:
lista[-1:0:-1] 
# lista inversa comienza en el valor de -1 hasta el 0 que como es el limite superior queda fuera en este caso el 10 no va

[100, 90, 80, 70, 60, 50, 40, 30, 20]

In [103]:
lista[::-1] # toda la lista e invertida

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [105]:
lista[0:10:1] # es la lista tal como esta. El limite superior indica 10 como podria ser 100. No importa si no esta en el rango del indice

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [106]:
lista[0:100:1] # es lo que explico arriba

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [107]:
lista[::1] # lista completa, paso 1. La lista tal como es.

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [46]:
lista

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [48]:
lista[0:10:2] # mostrara los valores de los indices 0,2,4,6,8. O sea uno si, uno no, uno si, uno no,...

[10, 30, 50, 70, 90]

In [52]:
lista[1:10:2] # comienza uno si uno no, desde la posicion 1

[20, 40, 60, 80, 100]

In [54]:
lista[::-2] # invertida y primero si, siguiente no, ... pares invertidos

[100, 80, 60, 40, 20]

#### TUPLAS

* son secuencias INMUTABLES (no se pueden cambiar, ampliar ni reducir)
* heterogeneas (pueden contener distintos tipos de variables y objetos)
* secuencias finitas (permiten localizar eventos por indices)
* Tupla vacia: tuple()
* Solo se pueden crear y consultar:
    * tupla[inicio, fin] Muestra los elementos desde la posicion inicio y hasta la posicion fin-1. 
    * tupla[:fin] Muestra desde el comienzo hasta la posicion indicada-1
    * tupla[ini:] Muestra desde la posicion indicada hasta el final
    * tupla[2] Muestra el tercer elemento de la tupla
* Se puede cohercionar de tupla a lista. list(t) siendo t una tupla
* Localizador de elementos: tupla.index(elemento) Devuelve la posicion de la primera aparicion del elemento. Si no esta da ERROR.
* Longitud de la tupla: len(tupla)

Importante: Las modificaciones de tupla pasar por cohercionar a lista (l=list(t)), modificar la lista y luego posterior conversion a tupla (t=tuple(l))

In [ ]:
t=tuple()

In [ ]:
t

In [ ]:
t1=(1,'a',[10,'Z'],True)

In [ ]:
t1

In [ ]:
t1[0], t1[-1]

In [ ]:
t1[:2]

In [ ]:
t1[2:]

In [ ]:
t1[1:3]

In [ ]:
t1[2:3] ## el resultado no mola. Hay una coma al final

In [ ]:
# Cohesion con listas
l=list(t1)

In [ ]:
l

In [ ]:
# Una vez que lo converti en lista puedo modificarla y volverla a convertir en tupla
l.append(False)

In [ ]:
l

In [ ]:
t1=tuple(l)

In [ ]:
t1

In [ ]:
t1=(1,'a',[10,'Z'],True)
t1.index(True)
t1.index(1),t1.index('a'),t1.index([10,'Z']),t1.index(True) # AQUI PARECE HABER UN ERROR

In [ ]:
t1.index(True)

In [ ]:
t1[0],t1[1],t1[2],t1[3]

In [ ]:
t1.index(1),t1.index('a'),t1.index([10,'Z']),t1.index(True)

In [ ]:
t1.index(False)

In [ ]:
t1.index('a')

In [ ]:
t1.index(True) ## Y ESTO??????

In [ ]:
t1.index(1)

In [ ]:
T=('a', 10, True, False)
T.index(True)

In [ ]:
T.index('a'), T.index(10), T.index(True), T.index(False)

In [ ]:
# Tamaño/longitud de la tupla
len(t1)

In [ ]:
# Se puede recorrer al igual que una lista
for i in t1:
    print(i)

In [ ]:
# Se puede recorrer al igual que una lista
k=0
while k < len(t1):
    print(t1[k])
    k+=1

In [ ]:
t1[3], t1.index(True) # Toma como True el 1 que es el primer elemento de la tupla o sea el de index=0

In [ ]:
# Se puede recorrer al igual que una lista
for i in range(len(t1)):
    print(t1[i])

In [ ]:
# Recorrer a la inversa
k=len(t1)-1
while k >=0:
    print(t1[k])
    k-=1

#### SET (Conjuntos) 

* Caracteristica de esta estructura de datos es que NO ADMITE valores REPETIDOS.
* NO son ordenadas ni finitas no podemos localizar elementos por indice. Es una estructura dinamica. 
* Ordena internamente los elementos no siempre en el mismo orden.
* Son heterogeneas. Admiten distintos tipos de variables y objetos menos listas.
* Metodo set() para crear set vacios y cohercionar
* Son MUTABLES. Se pueden ampliar o reducir en tiempo de ejecucion.
    - set.add(elemento) Para añadir un elemento. Si ya existe en el set, omite el agregado sin producir un error.
    - set.discard(elemento_a_eliminar) Si no existe omite la eliminacion. No da error si no esta el elemento.
    - set.remove(elemento_a_aliminar) Si el elemento no existe da ERROR.
    - set.update(set_a_agregar) Para extender un set con otro, ACTUALIZA el set.
    - set.union(set_a_agregar) Para extender un set con otro. NO QCTUALIZA el set.
* Localizacion de elementos: 'elemento' in set y devuelve el booleano. No hay indices porque no llevan un orden. 
* Interseccion: set1.intercection(set2) devuelve los elementos comunes en los dos set
* Diferencia: set1.difference(set2) devuelve set1-set2 o sea lo que esta en set1 y no esta en set2
* Diferencia simetrica entre sets: set1.symmetric_difference(set2) devuelve los elementos no comunes de los dos sets 
* Subconjutos: set1.issubset(set2) set1 es subconjunto de set2 ? devuelve un booleano
* Super conjuntos: s1.issuperset(set2) s1 es super set de set2 (s1 incluye a s2) 
* Conjuntos disjuntos: set1.isdisjoint(set2) Son totalmente distintos los sets? Devuelve el booleano True si no tienen elementos en comun.

NOTACION:
* listas y arrays []
* Sets y diccionarios {}
* Tuplas ()

In [26]:
l=['Z',2,True, ('a','b')]

In [27]:
s=set(l) # creacion de set a partir de una lista (cohercion)

In [28]:
s

{('a', 'b'), 2, True, 'Z'}

In [29]:
# crear sets vacios
s2=set()
s3={}

In [30]:
s2, s3

(set(), {})

In [31]:
type(s2), type(s3) # cuando ingrese datos de tipo lista s3 pasara a set

(set, dict)

In [33]:
s1={'mercurio','venus','tierra'}

In [36]:
s3=set(s3) # tipacion a set

In [37]:
s3

set()

In [38]:
s2={'jupiter','neptuno'}

In [39]:
s3={'Urano','Pluton'}

In [40]:
# añadir al set otro set
s1.update(s2)

In [41]:
s1 # actualiza el set original !!

{'jupiter', 'mercurio', 'neptuno', 'tierra', 'venus'}

In [42]:
s1.add('jupiter') # no agrega otro elemento igual a otro existente

In [43]:
s1

{'jupiter', 'mercurio', 'neptuno', 'tierra', 'venus'}

In [ ]:
# tambien añade un set a otro
s1.union(s3)

In [ ]:
s1 # no actualiza el set !!!

In [ ]:
# Para actualizar con union
s1=s1.union(s3)

In [ ]:
s1

In [44]:
# Agregar un elemento al set
s3.add('Saturno')

In [45]:
s3

{'Pluton', 'Saturno', 'Urano'}

In [ ]:
s3

In [ ]:
s3.add('Saturno')
s3 # Saturno ya esta por tanto no hace nada

In [ ]:
# Eliminar un elemento. Si no esta ignora
s3.discard('Marte')
s3 # Marte no estaba. No hace nada

In [47]:
s3.discard('Urano')
s3 # Elimino Urano

{'Pluton', 'Saturno'}

In [ ]:
s3

In [48]:
s3.remove('Urano') # Da error porque no esta el elemento

KeyError: 'Urano'

In [ ]:
s3.discard('Urano') # discard no da error aunque no este el elemento a eliminar

In [ ]:
s3

In [ ]:
s1

In [49]:
# Para saber si contiene un elemento
'tierra' in s1

True

In [50]:
'marte' in s1

False

In [ ]:
# Interseccion

In [ ]:
s2.add('tierra')

In [ ]:
s1, s2

In [ ]:
s1.intersection(s2)

In [ ]:
# Diferencia

In [ ]:
s2.difference(s1) # conjunto vacio pues no hay elementos resultantes en s2-s1

In [ ]:
s1.difference(s2)

In [ ]:
# Diferencia simetrica

In [ ]:
s2.add('Urano')

In [ ]:
s1.symmetric_difference(s2) # Elmentos disjuntos. Los que estan solo en uno de los sets. Union-interseccion

In [ ]:
# Subconjunto

In [ ]:
s1,s3

In [ ]:
s3.issubset(s1)

In [ ]:
# Superconjunto o incluye a

In [ ]:
s1.issuperset(s3)

In [ ]:
# Conjuntos disjuntos

In [ ]:
s1.isdisjoint(s3)

In [ ]:
s4={'Marte'}

In [ ]:
s1,s4

In [ ]:
s1.isdisjoint(s4)

#### DICCIONARIOS  

{clave: valor}

* Son mutables: 
    - dic[clave]='valor' para modificar
    - dic.pop(clave) para eliminar. Tiene que llevar parametro, sino da error. remove() no sirve para diccionarios reverse() tampoco.
* Son heterogeneas. Claves pueden ser numeros (int, float, complex), caracteres, tuplas (porque son inmutables). Valor puede ser cualquier tipo de variable u objeto
* Las claves se pueden repetir.¿? Creo que no. Los valores si.
* Son finitas. Se pueden localizar sus elementos. dic.get(clave) para consultar datos. No usar [] para esto.
* len(dic) longitud del diccionario
* para crear diccionarios vacios d={} dic()?
* dic.clear() vacia el diccionario
* dic.keys() para recuperar claves
* dic.values() recuperar valores
* dic.items() recupera claves y valores
* dic.update({clave:valor}) o dic.update({clave:'valor', clave:'valor'})para añadir un o mas elementos nuevos al diccionario
* d2=dic.copy() para copiar un diccionario a otro

In [60]:
d={1:'Apple',2:'Samsung',3:'Sony'}

In [61]:
d

{1: 'Apple', 2: 'Samsung', 3: 'Sony'}

In [62]:
len(d)

3

In [63]:
d[1] # no utilizaremos esta forma para consultar. Y recordar que 1 no es el indice sino la clave del diccionario

'Apple'

In [64]:
## Para consultar utilizaremos get()
d.get(1) # lo mismo que obtenerlo con los [] pero utilizaremos get()

'Apple'

In [65]:
# Para modificar nos reservamos los [] aunque tambien sirva para consultar
d[1]='Xiaomi'

In [66]:
d

{1: 'Xiaomi', 2: 'Samsung', 3: 'Sony'}

In [67]:
for i in d:  # Observar que i recoge las claves y con i.get() recojo los valores de cada clave
    print(i, d.get(i))

1 Xiaomi
2 Samsung
3 Sony

In [68]:
for k,v in d.items(): # otra forma de consultar o recorrer todo el diccionario
    print(k,v)

1 Xiaomi
2 Samsung
3 Sony

In [72]:
d.items()

dict_items([(1, 'Xiaomi'), (2, 'Samsung'), (3, 'Sony')])

In [69]:
d.keys()

dict_keys([1, 2, 3])

In [70]:
d.values()

dict_values(['Xiaomi', 'Samsung', 'Sony'])

In [71]:
d.items()

dict_items([(1, 'Xiaomi'), (2, 'Samsung'), (3, 'Sony')])

In [73]:
d.clear() # borra todo el contenido del diccionario

In [74]:
d

{}

In [75]:
d={0:'Xiaomi', 1:'Apple',2:'Samsung',3:'Sony'}

In [76]:
d

{0: 'Xiaomi', 1: 'Apple', 2: 'Samsung', 3: 'Sony'}

In [77]:
d.pop(3) # elimina el elemento en la lista

'Sony'

In [78]:
d

{0: 'Xiaomi', 1: 'Apple', 2: 'Samsung'}

In [ ]:
remove # no existe para los diccionarios
pop() # no funciona sin argumento. Solo sirve para eliminar un elemento en concreto indicando su clave

In [79]:
d

{0: 'Xiaomi', 1: 'Apple', 2: 'Samsung'}

In [80]:
d.update({3:'Apple'}) # para agregar otro elemento

In [81]:
d # admite repetidos

{0: 'Xiaomi', 1: 'Apple', 2: 'Samsung', 3: 'Apple'}

In [82]:
d.update({4:'Motorola', 5:'Hawei'}) # tambien para agregar otra lista

In [93]:
d

{0: 'Xiaomi', 1: 'Apple', 2: 'Samsung', 3: 'Apple', 4: 'Motorola', 5: 'Hawei'}

#### Test de eficiencia 

* Eficiencia: recursos/tiempo o trabajo/tiempo

Si el resultado final de dos procesos es el mismo, la eficiencia se medira en funcion del tiempo insumido.

In [ ]:
x=50000 # se ejecuta el proceso con un valor lo suficientemente alto para obtener un tiempo medible
import time

inicio=time.time()
AlgoritmoSecreto(x) # duracion de la ejecucion de la funcion
tiempo=time.time()-inicio
tiempo

### Rutinas de validacion de datos

In [24]:
def validarInt(x):
    """
    USO: La funcion comprueba que el valor introducido sea un entero.
    ARGUMENTOS:
        x [int]: numero decimal entero que se quiere comprobar.
    VARIABLES:
        x2 [int]: variable auxiliar que almacena la tipacion a entero del numero recibido como parametro
    RETURN:
        x2 [int]: variable entera que almacena el numero que recibe como argumento
    """    
    y=True
    while y:
        try:
            x=int(x)
            y=False
        except:
            print("Error: el valor introducido no es un decimal entero.")
            x=input("Volver a ingresar el dato: ")
    return x

In [25]:
validarInt(10)

10

In [26]:
validarInt('A')

Error: el valor introducido no es un decimal entero.
Volver a ingresar el dato: d
Error: el valor introducido no es un decimal entero.
Volver a ingresar el dato: a
Error: el valor introducido no es un decimal entero.
Volver a ingresar el dato: 2

2

In [27]:
type(validarInt('A'))

Error: el valor introducido no es un decimal entero.
Volver a ingresar el dato: s
Error: el valor introducido no es un decimal entero.
Volver a ingresar el dato: True
Error: el valor introducido no es un decimal entero.
Volver a ingresar el dato: 1.3
Error: el valor introducido no es un decimal entero.
Volver a ingresar el dato: 4

int

In [55]:
# Otra funcion de validacion. Valida si el argumento es float.

def esfloat(k):
    try:
        n=float(k)
        m=True
    except:
        m=False
    return m

In [63]:
esfloat("1.1") # lo puede cohercionar y devuelve verdadero

True

In [69]:
esfloat("1,1")

False

In [70]:
isinstance(m,float), isinstance(n,float)

(True, False)

In [ ]:
# EJEMPLO DE VALIDACION UTILIZANDO ASERT

def PrimitivaF(lista:list=list()) ->list: # obtiene la lista de la primitiva con numeros correctos
    while len(lista)<6:
        n=int(input(f'Ingrese el numero %dº de la primitiva (numeros del 1 al 49): '%(len(lista)+1)))
        try:
            assert n>0 and n<50
            lista.append(n)
        except:
            print("El numero no es correcto")
            
    return lista

#### Uso de la funcion isinstance() para la validacion de tipo de dato

isinstance(variable, tipo_dato) # donde tipo dato: int, float, str, etc?.

Esta funcion devuelve verdadero 'True' si la variable es del tipo de dato indicado.

NO INTENTA COHERCIONAR. Solo indica si el tipo de dato de la variable es el que estamos indicando en el segundo parametro.

In [ ]:
variable=20
if not(isinstance(variable,int)):
    print('No es un entero')
else:
    numero=int(variable) ## variable ya es int no hacia falta el int()
    print(variable)

In [ ]:
variable='A'
if not(isinstance(variable,int)):
    print('No es un entero')
else:
    numero=int(variable)
    print(variable)

In [28]:
def validarInt2(x):
    """
    USO: La funcion comprueba que el valor introducido sea un entero.
    ARGUMENTOS:
        x [int]: numero decimal entero que se quiere comprobar.
    VARIABLES:
    RETURN:
        x [int]: numero decimal entero validado
    """    
    while not(isinstance(x,int)):
        print('El dato ingresado debe ser un entero')
        x=input('Ingresa el dato nuevamente: ') 
        try:
             x=int(x)
        except:
            pass
        
    return int(x)

In [29]:
validarInt2(1)

1

In [30]:
validarInt2('a')

El dato ingresado debe ser un entero
Ingresa el dato nuevamente: bool
El dato ingresado debe ser un entero
Ingresa el dato nuevamente: 4.7
El dato ingresado debe ser un entero
Ingresa el dato nuevamente: 100

100

In [55]:
isinstance(2.3,int) # da falso porque 2.3 no es int sino float

False

In [56]:
int(2.3) # sin embargo SI se puede convertir a int.

2

In [57]:
int('2.3') # esto es lo que pasa cuando recojo la varible en un input, se recoge como str. Eso si que no se puede convertir porq es str

ValueError: invalid literal for int() with base 10: '2.3'

In [58]:
isinstance(2,int)

True

###  Variables locales y globales

IMPORTANTE !!!

Eliminar/limpiar las variables globales para que no se queden vigentes y con datos almacenados que puedan interferir en otros procesos.

del(variable)

####  Ambito de las variables

* Una variable global externa puede accederse desde una funcion, si bien la funcion puede tener una variable local con el mismo nombre. 
Si la tiene, la funcion usará SU propia variable local, sino cogerá la variable global.
* Se puede definir dentro de una funcion una variable global (<global variable>), si se quiere que dicha variable tenga vigencia mas alla de la funcion. Es decir una vez que acabe la funcion, la variable será accesible fuera de la misma.
* El resto de variables definidas dentro de la funcion seran locales y solo tendran vigencia dentro de la funcion.

#### Vigencia de las variables 
<img src="Variables.png">

In [32]:
a=2

In [39]:
def mifuncion():
    global d   # aqui no puedo definir una variable local a puesto que ya existe fuera de la funcion como global
    a=4  # aqui tengo la variable a que es local y es diferente a la 'a' global
    d=10
    A=3
    b=3
    return A*b, a

In [40]:
mifuncion() # se muestra la a local de la funcion

(9, 4)

In [41]:
a # esta es la a global

2

In [42]:
d # Puedo accedera d fuera de la funcion porque la defini como global

10

In [43]:
def mifuncion2():
    global d   # aqui no puedo definir una variable local a puesto que ya existe fuera de la funcion como global
                # ahora no defino una variable 'a' local 
    d=10
    A=3
    b=3
    return A*b, a  # esta 'a' ya no es local de la funcion. Es la global

In [44]:
mifuncion2()  # se muestra la a global, la funcion no tiene variable 'a' local, asi es que toma la global

(9, 2)

In [51]:
d # variable global definida dentro de la funcion. Es accesible desde fuera.

10

In [14]:
# Elimina la variable que ya no se usará para liberar el espacio y evitar errores por variables que quedan vigentes y con datos.
del(a)

In [15]:
# Con esta funcion dir() muestro todas las variables generadas y vigentes hasta este momento
for k in dir():
    print(k)

    # aqui se ve que a ya no sale

In
Out
_
_12
_2
_6
_7
__
___
__builtin__
__builtins__
__doc__
__loader__
__name__
__package__
__spec__
_dh
_i
_i1
_i10
_i11
_i12
_i13
_i14
_i15
_i2
_i3
_i4
_i5
_i6
_i7
_i8
_i9
_ih
_ii
_iii
_oh
d
exit
get_ipython
k
mifuncion
quit

## Documentacion de funciones

In [207]:
def miFuncion():
    """
    DOCUMENTACION
    """

In [208]:
help(miFuncion)

Help on function miFuncion in module __main__:

miFuncion()
    DOCUMENTACION

In [227]:
print(miFuncion.__doc__)

    DOCUMENTACION

In [210]:
def multiplicarPor9(numero: int) -> int:
    return numero*9

Esta es otra forma de documentar para que de un vistazo se sepa que tipo de dato debe recibir y que tipo de dato devuelve

In [229]:
print(multiplicarPor9.__annotations__) #  retorna informacion sobre los algumentos y los retornos

{'numero': <class 'int'>, 'return': <class 'int'>}

In [245]:
# Puedo consultar las anotaciones mediante las claves puesto que es un diccionario

multiplicarPor9.__annotations__.get('numero'), multiplicarPor9.__annotations__.get('return')

(int, int)

EJERCICIO: Validar que los argumentos de la funcion multiplicarPor9 corresponden a los especificados en las anotaciones.

In [26]:
# ESTA SERIA LA FORMA CORRECTA DEL CODIGO. VALIDAR QUE LA ENTRADA SEA LA ESPERADA.
# Esta funcion valdria para cualquier tipo de variable especificada en las anotaciones.

def multiplicarPor9(numero: int) -> int:
     # Validacion del parametro de entrada. Debe ser entero.
    while not isinstance(numero, multiplicarPor9.__annotations__.get('numero')): # Este metodo de la funcion devuelve los tipos de las variables
        numero=input('Introduce un valor de tipo %s '%(multiplicarPor9.__annotations__.get('numero'))) # para que se muestre que tipo de valor debe ser
        try:
            numero=multiplicarPor9.__annotations__.get('numero')(numero) # esto seria int(numero)
        except:
            pass
    return numero*9 # El retorno es entero tambien

In [27]:
multiplicarPor9.__annotations__.get('numero') # numero es argumento. Asise almacena el tipo de dato que se espera reciba la funcion.

int

In [244]:
multiplicarPor9('x')

Introduce un valor de tipo <class 'int'> 'a'
Introduce un valor de tipo <class 'int'> 3.5
Introduce un valor de tipo <class 'int'> 3

27

In [28]:
multiplicarPor9(2)

18

IMPORTANTE: La libreria mypy hace el chequeo de los argumentos de las funciones que se ejecutan bajo la libreria
    mypy fichero.py 
Si no cumple el tipo de dato especificado en las anotaciones, indicara un error.

## Tipos de Funciones

### Funciones con y sin retorno (devolucion)

In [198]:
def sinDevolucion():
    print('Hola')
    print('Chau')
sinDevolucion()

Hola
Chau

In [199]:
def conDevolucion():
    return 'Hola y chau'
    
conDevolucion()

'Hola y chau'

In [200]:
def mixDevolucion():
    print('Hola ')
    return 'Chau'
    
mixDevolucion()

Hola

'Chau'

### Segun el tipo de paso de los argumentos

* Por valor : la funcion modifica solo la variable local no la global

In [39]:
def porValor(e):
    e=10 # aqui no se asigna a la variable pasada como parametro por valor, sino a una variable local de la funcion
    print('El identificador de la variable e es:',id(e))
    print('El valor de la variable e es:',e)
# La funcion recibe el VALOR que se paso por parametro. En este caso recibe un 10.
# En este caso la funcion no modifica la variable que se pasa por parametro o sea la variable global x.

x=100
print('El identificador de la variable x es:',id(x))
porValor(x)
print('El valor de la variable x es:',x)

El identificador de la variable x es: 2076842874320
El identificador de la variable e es: 2076842682960
El valor de la variable e es: 10
El valor de la variable x es: 100

In [40]:
## Observar que los identificadores son diferentes puesto que se trata de diferentes variables
## El valor de x no se modifico despues de llamar a la funcion.

In [214]:
print(porValor(x)) ## la funcion no devuelve nada por eso la salida es None

None

In [215]:
x # La variable en si, que almacena el 10, no se ha modificado.

10

* Por referencia : la funcion modifica la variable global que se pasa como parametro.

In [31]:
def porReferencia(e):
    e.append(100)
    print('El identificador de la variable e es:',id(e))

x=[10]
print('El identificador de la variable x es:',id(x))

porReferencia(x) # paso del argumento x que al ser una lista pasa por referencia
x
# En este caso la funcion recibe la variable lista la cual es modificada por la funcion. El metodo append modifica la lista.

El identificador de la variable x es: 2076925984576
El identificador de la variable e es: 2076925984576

[10, 100]

In [32]:
# En este casi se modifico la variable global que pase por parametro (referencia)
# Observar que 'e' y 'x' son la misma variable

### Argumentos en funciones

* Funciones sin argumento

In [111]:
# Funciones sin argumento

def miFuncion():
    a='Hola'
    return a
miFuncion()

'Hola'

* Funciones con argumento no predefinido

In [112]:
# Funciones con argumento no predefinido

def miFuncion(a):
    return print('Hola', a)

miFuncion('Jose')

Hola Jose

* Funciones con argumento predefinido.

In [183]:
# Funciones con argumento predefinido. Importante!!!! Si predefino a tambien debo predefinir b.

def miFuncion(a=10, b=20):
    return a+b

miFuncion() # si no se pasan parametros, toma los predefinidos

30

In [184]:
miFuncion(1,2) # Toma estas a y b que paso como parametros

3

In [185]:
miFuncion(1) # Toma esta a y la b predefinida

21

In [201]:
miFuncion(b=1) # si solo quiero pasar el argumento b

11

In [202]:
miFuncion(b=1, a=50) # Vigilar que no se estan pasando en el mismo orden en que estan en la funcion. 
                        # Esta indicado el valor para c/variable explicitamente.

51

* Funciones con argumentos variables

In [189]:
# Funciones con argumentos variables (no se sabe a priori cuantos argumentos recibira la funcion)

def sumatorio (*vars): # lo incorpora como tupla 
    sum=0
    for k in vars: # esta es la forma de recorrer la estructura que almacena las variables de entrada.
        sum+=k
    return sum

In [190]:
sumatorio(2,3,4)

9

In [191]:
sumatorio(2)

2

In [206]:
sumatorio()

0

* Funciones con argumento variable de tipo clave, valor

In [118]:
# Funciones con argumento variable de tipo clave, valor

def personas(**keyvalues):
    t="{"
    for k,v in keyvalues.items(): # Asi se recorren las variables de entrada en tipo clave, valor. Seria como una lista de items.
        t+=str(k)+":"+str(v)+","
    t=t[0:len(t)-1]+"}" # Hay que quitar la ultima coma por eso es len-1
    return t

In [119]:
personas(key=12343, password="Jdtt10", url="http://nada.com") # los argumentos clave/valor se separan con '='

'{key:12343,password:Jdtt10,url:http://nada.com}'

In [120]:
personas() # Aqui no se muestra la salida del todo bien.

'}'

EJERCICIO: Modificar la funcion para que devuelva una cadena vacia si no se le pasan argumentos {}

In [162]:
# Funciones con argumento variable de tipo clave, valor
def personas(**keyvalues):
    t="{"
    for k,v in keyvalues.items():
        t+=str(k)+":"+str(v)+"," # Hay que quitar la ultima coma
    t=t[0:len(t)]+"}"
    return t.replace(',}','}') # Tambien se puede poner la llave de apertura en este punto en lugar de hacerlo al comienzo.
                                # De esta manera '{'+t[0:len(t)-1]+'}'

In [164]:
personas()

'{}'

In [165]:
personas(key=12343, password="Jdtt10", url="http://nada.com")

'{key:12343,password:Jdtt10,url:http://nada.com}'

EJERCICIO: Modificar la funcion para que devuelva un DICCIONARIO en lugar de una cadena

In [181]:
def personas(**keyvalues):
    dic={} # Creo el diccionario vacio
    for k,v in keyvalues.items():
        dic.update({k:v}) # no convierto a string, sino que cargo los datos tal cual entran puesto que podrian ser de cualquier tipo.
    return dic

In [182]:
personas(key=12343, password="Jdtt10", url="http://nada.com")

{'key': 12343, 'password': 'Jdtt10', 'url': 'http://nada.com'}

In [179]:
type(personas(key=12343, password="Jdtt10", url="http://nada.com"))

dict

In [180]:
personas()

{}

In [146]:
# Otra version del ejercicio anterior (retorna string) 
def personas(**keyvalues):
    t="{"
    for k,v in keyvalues.items():
        t+=str(k)+":"+str(v)+','
    t=t[0:len(t)-1]+'}'
    if not keyvalues: # o len(keyvalues)==0
        return '{}'
    return t

In [147]:
personas() # sale la cadena diccionario vacio como queriamos

'{}'

In [148]:
personas(key=12343, password="Jdtt10", url="http://nada.com")

'{key:12343,password:Jdtt10,url:http://nada.com}'

#### Mixtas: argumentos simples (predefinidos o no), variables y variables de tipo k,v

In [225]:
def mixta(a,b=0,*vars, **keyvalues):
    t=''
    t+=str(a)+'-'
    t+=str(b)+'-'
    for k in vars:
        t+=str(k)+'.'
    t=t[:-1] # sin el ultimo .
    for k,v in keyvalues.items():
        t+=str(c)+':'+str(v)+'_'
    t=t[:-1] # para quitar el ultimo _
    return t

In [226]:
mixta('h')

'h-'

### Funciones segun anonimato de la funcion

* FUNCIONES NO ANONIMAS: Son las que tienen nombre

In [246]:
def saludar():
    return 'Hola'

In [247]:
saludar()

'Hola'

In [22]:
def Fmedia (l:list) -> list:
    return [sum(a)//len(a) for a in l] # hago // division entera para que devuelva int

l=[[2,4,6],[7,2,9],[1,1,1]]
Fmedia(l)

[4, 6, 1]

* FUNCIONES ANONIMAS: Son las que NO tienen nombre. Funciones LAMBDA

Las funciones que no tienen cuerpo (como la siguiente) se pueden escribir como funciones lambda

In [25]:
# Calculo de las medias con funcion lambda
ll= lambda a: [sum(a)//len(a) for a in l] # el calculo es el mismo que en la funcion Fmedia(). Es una lista por compresion.
ll(l)

[4, 6, 1]

In [248]:
def sumar(a,b):
    return a+b

In [250]:
x=lambda a,b: a+b # Funcion lambda sin evaluar

In [251]:
x(2,3) # Se instancia la funcion mediante la variable donde la almacenamos y los argumentos se pasan entre ()

5

In [253]:
# Llamada a una Funcion lambda evaluada (con argumentos)

y=(lambda a,b: a+b)(2,3) # argumentos predefinidos
y  # es la funcion evaluada con los parametros predefinidos. NO es que almacene el 1. Es la funcion con parametros predefinidos.

5

In [265]:
# Funcion lambda con argumentos variables

p=lambda *vars: sum(vars)

In [266]:
p(2,3,4,5)

14

In [267]:
# Funcion lambda con argumentos variables de tipo clave/valor
q= lambda **keyvalues: sum(keyvalues.values())

In [270]:
q(a=2,b=3,c=4,d=5)

14

* Funciones mixtas:

In [254]:
def miFuncion(funcion_lambda): # funcion no anonima que recibe como argumento una funcion lambda (anonima)
    return funcion_lambda(2,3)

miFuncion(lambda a,b: a+b) # aqui paso la funcion lambda como argumento a miFuncion

5

In [255]:
miFuncion(x) # lo mismo pero pasando la funcion lambda como variable. La funcion lambda x esta definida mas arriba.

5

In [261]:
def resta(a,b):
    return b-a

In [262]:
z=lambda y,v: resta(y,v) # Funcion anonima que contiene una funcion no anonima en su codigo

In [264]:
z(2,3)

1

EJERCICIO: Ej_MediaTemperaturas en otro fichero.

### Tipos de funciones segun pila de ejecucion

* Directas: aquellas que pueden o no llamar a funciones para ejecutar la totalidad de su cuerpo

In [56]:
def f1():
    print('Inicia F1')
    f2()
    print('Finaliza F1')

def f2():
    print("Inicia F2")
    f3()
    print("Finaliza F2")
def f3():
    print("Inicia F3")
    print("Finaliza F3")

# Aunque la logica indica definir primero f3, luego f2 y por ultimo f1:    
# En la definicion de estas funciones python no arroja error, puesto que solo las esta definiendo. 
# En tiempo de ejecucion todas ellas ya estaran declaradas con lo cual tampoco dan error.
# Si da error una funcion que llama a otra funcion que no esta declarada, pero en este caso todas los estan.

# Observar el orden de ejecucion y las salidas obtenidas:

In [57]:
f1()

Inicia F1
Inicia F2
Inicia F3
Finaliza F3
Finaliza F2
Finaliza F1

* Recursivas: son funciones que se llaman a si mismas para ejecutar la totalidad del proceso.

In [14]:
def factorialRecursivo(n):
    if n==1:
        return 1
    else:
        return n*factorialRecursivo(n-1)

In [15]:
factorialRecursivo(4)

24

EJERCICIO: Desarrollar una funcion recursiva que pase un valor por parametro y esta a base de llamarse a si misma realice la suma de los dos numeros anteriores empezando desde el 0 hasta llegar al valor pasado por parametro.

In [18]:
def fibonacci(n: int) -> int:
    """
    USO:
        Devuelve el resultado de la serie de Fibonacci del numero pasado como parametro.
    ARGUMENTOS:
        n [int]: numero para el calculo de la serie.
    VARIABLES:
    FUNCIONES: 
        Fibonacci (funcion recursiva)
    RETURN:
         [int]: Numero de la serie de Fibonacci en etapa n.
    """
    if n==1 or n==2: # otra opcion n<=1: return n 
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)

In [19]:
fibonacci(7)

13

In [20]:
print(fibonacci.__doc__)

    USO:
        Devuelve el resultado de la serie de Fibonacci del numero pasado como parametro.
    ARGUMENTOS:
        n [int]: numero para el calculo de la serie.
    VARIABLES:
    FUNCIONES: Fibonacci (funcion recursiva)
    RETURN:
        fibonacci(n-1)+fibonacci(n-2) [int]: Resultado de la serie de Fibonacci.

In [21]:
print(fibonacci.__annotations__)

{'n': <class 'int'>, 'return': <class 'int'>}

<img src="Ej_FibonacciRecursivaD.png">

### Segun el nivel de ejecucion. Funciones especiales de alto nivel para operar con LISTAS.


* Filter(): funcion de alto nivel cuya finalidad es filtrar los datos y decidir (en base a la logica programada) si aplica o no la funcion asociada

In [44]:
def par(n):
    if n%2==0:
        return True
l=list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(filter(par,l)) # Solo devuelve si True. Aplica la funcion 'par' a la lista l y devuelve los casos en que la funcion devuelve True

[0, 2, 4, 6, 8]

In [46]:
list(filter(lambda b: b%2==0, l)) # con funcion lambda igual que lo anterior filter solo devuelve si se cumple la condicion

[0, 2, 4, 6, 8]


* Map(): funcion de alto nivel cuya finalidad es aplicar a todos los datos de la lista una funcion asociada.

In [47]:
def triplicar(n):
    return 3*n
l=list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
list(map(triplicar,l)) # aplica a todos los elementos de la lista la funcion triplicar. La funcion debe devolver un resultado.

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [49]:
list(map(lambda b: 3*b, l)) # lo mismo con lambda

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [50]:
a=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
l=[10,11,12,13,14,15,16,17,18,19]

In [52]:
a,l

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [55]:
# No se puede multiplicar listas elemento a elemento
a*l  # para eso uso map

TypeError: can't multiply sequence by non-int of type 'list'

In [54]:
list(map(lambda x,y : x+y, a,l)) # Para sumar uno a uno los elementos de dos listas del mismo tamaño (sino supongo que da error)
# map('funcion en este caso es una lambda-> valor1, valor2 : operacion' , lista/s sobre las que va a operar map )
# luego tengo que indicar que lo ponga en una lista con list()

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

### Decoradores
* Son funciones de alto nivel que modifican el comportamiento de otra funcion y se representan con @
* Ejemplos de uso: decoradores para gestionar logs (crearlos, almacenarlos), para conectar en BBDD remotas (se envia usuario y password junto con la consulta a ejecutar en la BBDD remota y se retorna el resultado de la ejecucion de dicha consulta.

In [1]:
def miDecorador(funcion):
    def nuevaFuncion(a,b):
        print("Llamada a la funcion")
        c=funcion(a,b)
        print("Fin de la funcion")
        return c
    return nuevaFuncion

In [2]:
@miDecorador
def suma(a,b):
    return a+b

In [3]:
suma(5,8)

Llamada a la funcion
Fin de la funcion

13

In [4]:
@miDecorador
def resta(c,d):
    return d-c

In [5]:
resta(8,10)

Llamada a la funcion
Fin de la funcion

2

### Otra forma para DECORAR sin @

* En lugar del decorar @, utilizamos las propiedades de asignacion

In [7]:
def decorador(f):
    def envoltorio (a,b):
        print ("Llamada a la funcion")
        c=f(a,b)
        print("Fin de la funcion")
        return c
    return envoltorio

def multiplicacion(x,y):
    return x*y

In [8]:
f_decorada=decorador(multiplicacion)
f_decorada(2,3)

Llamada a la funcion
Fin de la funcion

6

Teoria: 
* Una matriz es una lista anidada que contiene listas del mismo tamaño (regulares). 
* Otras listas anidadas irregulares contienen listas de distinto tamaño.

Teoria: 
* Las funciones sin return devuelven None